---
import { BASICS_ES } from "@/utils/consts"
import Section from "@/resume/Section.astro"

import GitHub from "@/icons/GitHub.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import Mail from "@/icons/Mail.astro"
import Phone from "@/icons/Phone.astro"
import WorldMap from "@/icons/WorldMap.astro"

const { name, label, image, location, profiles, phone, email } = BASICS_ES
const { city, region } = location

const SOCIAL_ICONS = {
  GitHub,
  LinkedIn,
}

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ")
---

<Section>
  <div
    class='flex flex-col-reverse items-center gap-4 md:justify-between md:flex-row'
  >
    <div class='flex flex-col items-center gap-2 md:pr-8 md:items-start'>
      <h1 class='text-4xl text-neutral'>{name}</h1>
      <h2
        class='text-lg text-center md:text-start text-neutral-content text-balance'
      >
        {label}
      </h2>
      <span
        class='flex items-center gap-1 text-sm tracking-tighter text-stone-700 dark:text-stone-600'
      >
        <WorldMap />
        {city}, {region}
      </span>
      <footer class='flex gap-1 mt-2 text-xs print text-neutral'>
        {printInfo}
      </footer>
      <footer class='flex gap-1 mt-2 text-xs no-print text-neutral-content'>
        {
          email && (
            <a
              class='inline-flex items-center justify-center p-2 transition-all rounded-md hover:text-base-100 hover:bg-neutral-content'
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target='_blank'
              rel='noopener noreferrer'
            >
              <Mail class=' size-6' />
            </a>
          )
        }
        {
          phone && (
            <a
              class='inline-flex items-center justify-center p-2 transition-all rounded-md hover:text-base-100 hover:bg-neutral-content'
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              target='_blank'
              rel='noopener noreferrer'
            >
              <Phone class=' size-6' />
            </a>
          )
        }
        {
          profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network]

            return (
              <a
                class='inline-flex items-center justify-center p-2 transition-all rounded-md hover:text-base-100 hover:bg-neutral-content'
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
                target='_blank'
                rel='noopener noreferrer'
              >
                <Icon class=' size-6' />
              </a>
            )
          })
        }
      </footer>
    </div>
    <figure class='flex justify-center my-0 md:justify-end'>
      <img class='aspect-square w-44 rounded-2xl' src={image} alt={name} />
    </figure>
  </div>
</Section>
