---
import Section from "@/components/Section.astro"

import { EXPERIENCES_ES } from "@/utils/consts"
---

<Section title='Experiencia laboral'>
  <ul class='flex flex-col gap-4'>
    {
      EXPERIENCES_ES.map(
        ({ name, startDate, endDate, position, summary, url }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual"
          const years = () => {
            if (startYear === endYear) {
              return endYear
            } else {
              return `${startYear} - ${endYear}`
            }
          }

          return (
            <li>
              <article>
                <header class='flex items-start justify-between mb-1'>
                  <div>
                    <h3 class='font-medium'>
                      <a
                        class='text-stone-900 dark:text-stone-400 hover:underline'
                        href={url}
                        title={`Ver ${name}`}
                        target='_blank'
                      >
                        {name}
                      </a>
                    </h3>
                    <h4 class='font-normal text-stone-800 dark:text-stone-500'>
                      {position}
                    </h4>
                  </div>

                  <time class='text-sm text-stone-700 dark:text-stone-600 md:text-right min-w-28'>
                    {years}
                  </time>
                </header>

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>
